// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gutter-r-vertical:3rem;
$gutter-r-horizontal:2rem;

//color
$color1:#001F3F;
$color2:#0074D9;
$color3:#7FDBFF;
$color4:#39cccc;
$color5:#3d9970;
$color6:#2ecc40;
$color7:#01ff70;
$color8:#ffdc00;
$color9:#ff851b;
$color10:#ff4136;
$color11:#85144b;
$color12:#f012be;
$color13:#b10dc9;
$color14:#111111;
$color15:#aaaaaa;
$color16:#dddddd;




